body{
  text-align: center;

}

.ubah{
  background-color: #123;
}

.box{
  width: 25px;
  height: 25px;
  margin: 10px auto;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}

.blue{
  background-color: blue;
}